html, body{
    margin:0;
}
#banner{
    width:100%;
    height:auto;
}
header{
    background-color:#DAF6FF;
    margin:0;
    padding:0;
}
#logo{
    position:absolute;
    top: 37%;
    left: 13%;
    transform: translate(-50%, -50%);
    width:15%;
    height:auto;
}
#title{
    font-size:52pt;
    /* 4.25vw */
    font-family:'Shrikhand';
    color:#05070A;
    white-space:nowrap;
    position:absolute;
    top: 36%;
    left: 53%;
    transform: translate(-50%, -50%);
}
#nav{
    background-color:#DAF6FF;
}
nav{
    width:70%;
    margin:auto auto;
    background-color:#AEEBFF;
    border:black solid 2pt;
    border-radius:15px;
    height:50px;
    display:flex;
    justify-content:space-around;
}
nav a{
    font-size:16pt;
    /* 1.33vw */
    font-family:'Montserrat';
    font-weight:900;
    color:#05070A;
    margin:10px 35px 10px 35px;
}
nav a:link{
    color:#05070A;
    text-decoration:none;
}
nav a:visited{
    color:#05070A;
    text-decoration:none;
}
#container{
    background-color:#DAF6FF;
}
#content{
    width:70%;
    margin:auto auto;
    padding:20px;
}
h2{
    text-align:center;
    font-size:36pt;
    /* 2.5vw */
    font-family:'Shrikhand';
    color:#05070A;
    padding:0;
    margin:0;
}
h3{
    text-align:center;
    font-size:26pt;
    /* 2.5vw */
    font-family:'Shrikhand';
    font-weight:bold;
    color:#05070A;
    padding:0;
    margin:0;
}
h4{
    font-size:16pt;
    /* 2.5vw */
    font-family:'Montserrat';
    font-weight:900;
    color:#05070A;
    padding:0;
    margin:0;
}
h5{
    font-size:16pt;
    /* 2.5vw */
    font-family:'Montserrat';
    font-weight:bold;
    color:#05070A;
    padding:0;
    margin:0;
}
footer{
    height:min-content;
}
#upper-footer{
    width:60%;
    height:min-content;
    margin:auto auto;
    display:flex;
    justify-content:space-evenly;
}
#upper-footer>a{
    display:flex;
    align-items:center;
    font-family:'Montserrat';
    font-size:14pt;
    font-weight:bold;
    color:#05070A;
}
#upper-footer>a:link{
    text-decoration:none;
}
#upper-footer>a:visited{
    text-decoration:none;
}
#logo-footer{
    width:20%;
    height:auto;
}
hr{
    width:70%;
    margin-bottom:15px;
}
#lower-footer{
    width:25%;
    height:min-content;
    margin:auto auto;
    display:flex;
    justify-content:space-evenly;
}
#lower-footer>a>img{
    width:50px;
    height:auto;
}
footer>p{
    font-family:'Montserrat';
    text-align:center;
}
cite{
    font-style:italic;
    font-size:10pt;
}
/* Home */
.home-text{
    width:85%;
    margin:auto auto;
    margin-top:50px;
    font-size:14pt;
    font-family:'Montserrat';
    color:#05070A;
    line-height:1.75;
}
.glance{
    width:90%;
    margin:auto auto;
    display:flex;
    flex-wrap:wrap;
}
.glance img{
    width:50%;
    height:450px;
    object-fit:cover;
}
.home-menu{
    background-color:#FFDA57;
    width:50%;
    height:450px;
    object-fit:cover;
    font-size:36pt;
    font-weight:900;
    font-family:'Montserrat';
    color:#05070A;
    line-height:1.75;
}
.home-menu>p{
    text-align:center;
    margin-top:35%;
}
.glance a:link{
    text-decoration:none;
    color:#05070A;
}
.glance a:visited{
    text-decoration:none;
    color:#05070A;
}
/* About Us */
.about-us img{
    width:90%;
    display:block;
    margin: 0 auto;
    border-radius:20px;
}

.about-us p{
    width:85%;
    margin:auto auto;
    margin-top:50px;
    font-size:14pt;
    font-family:'Montserrat';
    color:#05070A;
    line-height:1.75;
}
.about-us h3{
    margin-top:75px;
}
.newscast p{
    text-align:center;
    margin-top:50px;
    font-size:18pt;
    font-family:'Montserrat';
    color:#05070A;
    font-style:italic;
}

.carousel{
    width:70%;
    margin:auto auto;
    height:auto;
    margin-top:20px;
    margin-bottom:50px;
}
.carousel-cell {
    width:20%;
    height:auto;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
.carousel-cell img{
    width:75%;
    height:auto;
}
.slide{
    width:80%;
    margin:auto auto;
    height:auto;
    margin-top:20px;
    margin-bottom:50px;
}
.slide-cell {
    width:100%;
    height:auto;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: slide-cell;
}
.slide-cell img{
    width:100%;
    height:auto;
}

/* Menu */
#menu-template{
    display:flex;
    justify-content: space-between;
    margin-top:40px;
    margin-bottom:40px;
}
.menu-cat{
    margin-top:50px;
    margin-bottom:50px;
}
#item{
    width:25%;
    background-color:#AEEBFF;
    /* border:black solid 2pt; */
    border-radius:15px;
}
#item img{
    max-width:95%;
    display:block;
    margin: 0 auto;
    padding-bottom:20px;
}
#item h4{
    width:80%;
    text-align:center;
    margin:auto auto;
    margin-bottom:20px;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
 }
.item:hover .overlay{
    opacity:2;
}
/* Catering */
.catering-span{
    display:inline-flex;
}
#catering-text{
    width:50%;
    background-color:#DAF6FF;
    font-size:14pt;
    font-family:'Montserrat';
    line-height:1.75;
}
.catering-visit>a:link{
    color:#05070A;
    text-decoration:none;
}
.catering-visit>a:visited{
    color:#05070A;
    text-decoration:none;
}
.catering-left{
    margin-right:25px;
}
.catering-right{
    margin-top:20px;
    margin-left:25px;
}
.catering-img{
    object-fit:cover;
    width:50%;
}

/* News */
iframe{
    width:100%;
    height:90vh;
}
#articles{
    margin:auto auto;
    padding:20px;
    margin-top:20px;
}
.article-flex{
    display:flex;
    margin-top:30px;
    margin-bottom:30px;
}
.article-img{
    width:15%;
    object-fit:cover;
    border-radius:20px;
}
.paper{
    display:flex;
}
.paper>img{
    width:5%;
    height:auto;
    margin:10px;
    border-radius:10px;
}
.paper>p{
    font-size:12pt;
    font-family:'Montserrat';
    color:#05070A;
    padding:0;
    margin-top:auto;
    margin-bottom:auto;
}
.article-text{
    margin-left:20px;
}
.article-text a:link{
    color:#05070A;
    text-decoration:none;
}
.article-text a:visited{
    color:#05070A;
    text-decoration:none;
}
.article-text>a>p{
    font-size:12pt;
    font-family:'Montserrat';
    color:#05070A;
    padding:0;
    margin-top:15px;
}


/* Visit */
.hours-locate{
    margin-bottom:50px;
}
table{
    margin:auto auto;
    width:80%;
}
td{
    margin:0 auto;
}
.table-space>th{
    padding-top:50px;
}
.visit-details{
    text-align:center;
    font-size:14pt;
    font-family:'Montserrat';
    font-weight:600;
    color:#05070A;
    line-height:1.75;
}
.locate{
    width:80%;
    display:block;
    margin:0 auto;
    margin-bottom:50px;
}
.contact a:link{
    color:#05070A;
    text-decoration:none;
}
.contact a:visited{
    color:#05070A;
    text-decoration:none;
}
form{
    background-color:white;
    margin-top:20px;
    margin-bottom:50px;
    width:60%;
    margin: auto auto;
}
form>h3{
    margin-top:40px;
}
.row1{
    display:flex;
    justify-content: space-around;
    margin-left:75px;
    margin-right:75px;
    margin-bottom:25px;
}
.row1>input{
    width:40%;
    height:auto;
}
input{
    font-size:14pt;
    font-family:'Montserrat';
    color:#05070A;
    line-height:1.75;
}
.row2{
    width:75%;
    height:auto;
    margin:25px 110px 25px 110px;
}
.row3{
    width:75%;
    height:auto;
    margin:25px 110px 25px 110px;
}   
.row4{
    margin-left:110px;
}
form>label{
    font-size:14pt;
    font-family:'Montserrat';
    color:#05070A;
    line-height:1.75;
}
.row5{
    margin-left:110px;
    width:10%;
}