html, body{
    margin:0;
}
#banner{
    width:100%;
    height:auto;
}
header{
    background-color:#DAF6FF;
    margin:0;
    padding:0;
}
#logo{
    position:absolute;
    top: 37%;
    left: 16%;
    transform: translate(-50%, -50%);
    width:15%;
    height:auto;
}
#logo-footer{
    width:15%;
    height:auto;
}
#title{
    font-size:4.25vw;
    font-family:'Shrikhand';
    color:#05070A;
    white-space:nowrap;
    position:absolute;
    top: 36%;
    left: 53%;
    transform: translate(-50%, -50%);
}
#nav{
    background-color:#DAF6FF;
}
nav{
    width:70%;
    margin:auto auto;
    background-color:#AEEBFF;
    border:black solid 2pt;
    border-radius:15px;
    height:50px;
    display:flex;
    justify-content:space-around;
}
nav a{
    font-size:1.33vw;
    font-family:'Montserrat';
    font-weight:900;
    color:#05070A;
    margin:10px 35px 10px 35px;
}
nav a:visited{
    color:#05070A;
    text-decoration:none;
}
#content{
    background-color:#DAF6FF;
    margin:0;
    padding:0;
}
h2{
    margin:0;
}
#upper-footer{
    position:absolute;
    left:325px;
    display:flex;
    width:800px;
    flex-direction:row;
    justify-content:space-evenly;
    text-align:baseline;
}
#lower-footer{
    margin-left:325px;
    margin-top:100px;
    display:flex;
    width:800px;
    flex-direction:row;
    justify-content:space-evenly;
    text-align:baseline;
}
.insta{
    width:50px;
    height:auto;
}
.fb{
    width:50px;
    height:auto;
}
.mail{    
    width:50px;
    height:auto;
}
.tel{
    width:50px;
    height:auto;
}
